<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Medical Logs</h1>
    <form action="/medlogs/createMedLog" method='POST' class="logInputForm">
        <h2>Enter a new daily reading:</h2>
        <p>Today is <span class="date"><%= new Date().toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) %></span></p>
        <div>
            <label for="weightInput">Current Weight: </label>
            <input type="number" placeholder="lbs" name='weightInput' class="numInput">
        </div>
        <div>
            <label for="systolicInput">Blood Pressure: </label>
            <input type="number" placeholder="Systolic" name='systolicInput' class="numInput">
            <span>/</span>
            <input type="number" placeholder="Diastolic" name='diastolicInput' class="numInput">
        </div>
        <input type="submit">
    </form>


    <ul>
    <% medLogs.forEach( el => { %>
            <li class='medLogItem' data-id='<%=el._id%>'>
                <span class='date <%= el.completed === true ? 'completed' : 'not'%>'> <%= el.date.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) %> </span>
                <span class='del fa fa-trash'></span>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'>Weight: <%= el.weight %> lbs</span>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'>Blood Pressure: <%= el.systolic %>/<%= el.diastolic %></span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> unprocessed medical logs.</h2>


    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>